*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

.head {
    height: 5rem;
    background-color: black;
}
.heading {
    color: white;
    line-height: 5rem;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    

}
#choices {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover {
    cursor: pointer;
    /* background-color: black; */
    border: 5px solid black;
}
.user-score {
    font-size: 2rem;
}
.comp-score {
    font-size: 2rem;
}
.score-board {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 4rem;
}
.msg {
    margin-top: 4rem;
    padding: 1rem;
    background-color: black;
    color: white;
    display: inline-block;
    font-size: 2rem;
    border-radius: 1rem;
}
#same {
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: black;
    color: white;
    font-size: 2rem;
    border-radius: 1rem;
    height: 100px;
    width: 350px;
}
.samm{
    display: flex;
    justify-content: center;
}
.re{
    position: relative;
    top: -210px;
    text-decoration: none;
    color: black;
    border: 2px solid black;
}
